@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.canvas {
    margin: auto;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 28%, #f6f6f6 77%, #ffffff 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(28%,#ffffff), color-stop(77%,#f6f6f6), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 28%,#f6f6f6 77%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 28%,#f6f6f6 77%,#ffffff 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffffff 28%,#f6f6f6 77%,#ffffff 97%); /* IE10+ */
    background: linear-gradient(to right, #ffffff 28%,#f6f6f6 77%,#ffffff 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 1px none rgb(60, 60, 60);
    -webkit-box-shadow: 4px 3px 10px 0px rgba(128,128,128,1);
    -moz-box-shadow: 4px 3px 10px 0px rgba(128,128,128,1);
    box-shadow: 4px 3px 10px 0px rgba(128,128,128,1);

}

.canvas .header-icon {
    height: 1.1em;
}

.canvas .content_panel {
    position: relative;
    background: rgb(254, 254, 254);
    border-bottom: 1px solid rgb(182, 182, 182);
    border-top: 1px solid rgb(182, 182, 182);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
    min-height: 256px;
    padding: 0;
    position : absolute !important; 
    top : 40px !important;  
    right : 0; 
    left : 0 !important;
    bottom: 0;
}

.canvas .content_panel .container__performance_meter,
    .canvas .content_panel .dashboard__result_list {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.canvas .container__performance_meter .ui-bar,
    .canvas .container__performance_meter .ui-body,
    .canvas .dashboard__result_list .ui-bar-a,
    .canvas .panel__measurement_results .ui-body,
    .canvas .panel__measurement_results .ui-bar {
    border: none;
    background: none;
}

.canvas .content_panel .container__performance_meter .performance_meter .smalltext {
    font-size: .6em;
}

.canvas .content_panel .container__performance_meter .performance_meter div {
    margin-right: 0px;
    margin: 0 auto;
    vertical-align: middle;
}

.canvas .content_panel .container__performance_meter .performance_meter .test_control_enabled {
    cursor: pointer;
}

.canvas .content_panel .container__performance_meter .performance_meter .test_control_enabled :hover {
    cursor: pointer;
}

.canvas .content_panel .container__dashboard {

}
.ui-content.content_panel {
    min-height: 317px;
}

.canvas .ui-content .ui-listview {
    margin: inherit;
}

.canvas .container__dashboard .ui-grid-a {
    margin-bottom: 10px;
}

.canvas .panel__measurement_results .ui-listview li span {
    border: none;
    background: none;
}
.canvas .dashboard__result_list .ui-body-a {
    padding: 0;
    border: none;
}

.canvas .dashboard__thank_you .ui-btn-icon-right:after,
    .canvas .dashboard__thank_you .ui-btn-icon-notext:after {
    background-color: rgb(133, 232, 118);
}


.canvas .dashboard__result_list .ui-li-count.result_label {
    background: none;
    color: inherit;
    border: none;
    font-weight: normal;
}
.canvas .dashboard__result_list .provider a {
    font-size: 0.9em;
    font-weight: normal;
}
.canvas .dashboard__result_list .provider.testing a {
    font-weight: bold;
}

.canvas .provider.testing .ui-btn-icon-left:after,
    .canvas .provider.testing .ui-btn-icon-right:after,
    .canvas .provider.testing .ui-btn-icon-top:after,
    .canvas .provider.testing .ui-btn-icon-bottom:after,
    .canvas .provider.testing .ui-btn-icon-notext:after {
    background-color: rgb(255, 210, 0);
}
.canvas .provider.ui-disabled.testing {
  opacity: .9;
}
.canvas .provider.ui-disabled.testing a {
    background: rgb(255, 255, 250);
}

.canvas .provider.complete .ui-btn-icon-left:after,
    .canvas .provider.complete .ui-btn-icon-right:after,
    .canvas .provider.complete .ui-btn-icon-top:after,
    .canvas .provider.complete .ui-btn-icon-bottom:after,
    .canvas .provider.complete .ui-btn-icon-notext:after {
    background-color: rgb(133, 232, 118);
}
.canvas .provider.complete a {
    background: rgb(251, 255, 251);
}


.ui-icon-reddit:after {
	background-image: url("/resources/images/reddit.png");
}

.ui-icon-facebook:after {
	background-image: url("/resources/images/facebook.png");
}

.ui-icon-twitter:after {
	background-image: url("/resources/images/twitter.png");
}

.ui-icon-wordpress:after {
	background-image: url("/resources/images/wordpress.png");
}

.canvas .ui-grid-a .ui-block-a {
    text-align: center;
}

.canvas .ui-grid-a .ui-block-a .intro_overlay_icon {
    height: 16em;
    margin-top: 3em;
}

.canvas .label__server_location {
  color: rgb(175, 175, 175);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  text-shadow: rgb(243, 243, 243) 0px 1px 0px;
}
.canvas .select__server_location {
    color: #777;
}

.canvas .dashboard__thank_you {
    display: none;
}
.canvas .dashboard__thank_you input {
    background: rgb(133, 232, 118);
}

.canvas .result_label .result_explanation {
    margin: 0;
    width: 1em;
    height: 1em;
}

.canvas .performance_meter.reversed canvas {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.canvas .performance_meter .percentage_text {
    top: 96px;
    font: 64px BebasNeueRegular;
    text-shadow: 0px 1px 1px #888;
}
.canvas .performance_meter .percentage_text.smallertext {
    top: 110px;
    font: 40px BebasNeueRegular;
    text-shadow: 0px 1px 1px #888;
}
.canvas .performance_meter .percentage_text.biggertext {
    top: 90px;
    font: 80px BebasNeueRegular;
    text-shadow: 0px 1px 1px #888;
}

.canvas .ui-listview .ui-highlighted, .canvas .ui-listview .ui-highlighted a {
  background-color: #fEfEfE;
}

.canvas .ui-listview .ui-li-aside {
  top: 1.2em;
  font-size: .8em;
}